addict==2.4.0
annotated-types==0.8.0
asttokens==3.0.2
attrs==26.1.0
blinker==1.9.0
certifi==2026.7.22
charset-normalizer==3.5.2
click==8.5.0
cloudpickle==3.1.2
comm==0.2.3
configargparse==1.8.0
contourpy==1.3.3
cycler==0.12.1
dash==4.4.1
einops==0.8.1
executing==2.2.1
fastjsonschema==2.22.2
filelock==4.0.12
flask==3.1.3
fonttools==4.66.1
fsspec==2026.9.0
hf-xet==1.7.0
huggingface-hub==0.34.4
idna==3.20
importlib-metadata==9.0.1
iniconfig==2.3.1
ipython==9.17.1
ipython-pygments-lexers==1.1.1
ipywidgets==8.1.9
itsdangerous==2.2.0
janus==2.0.0
jedi==0.20.0
jinja2==3.1.6
joblib==1.6.0
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
jupyter-core==5.9.1
jupyterlab-widgets==3.0.17
kiwisolver==1.5.1
markupsafe==3.0.4
matplotlib==3.11.2
matplotlib-inline==0.2.2
mpmath==1.3.0
narwhals==2.26.0
nbformat==5.11.1
nest-asyncio==1.6.0
networkx==3.7
numpy==1.26.4
nvidia-cublas-cu12==12.8.4.1
nvidia-cuda-cupti-cu12==12.8.90
nvidia-cuda-nvrtc-cu12==12.8.93
nvidia-cuda-runtime-cu12==12.8.90
nvidia-cudnn-cu12==9.10.2.21
nvidia-cufft-cu12==11.3.3.83
nvidia-cufile-cu12==1.13.1.3
nvidia-curand-cu12==10.3.9.90
nvidia-cusolver-cu12==11.7.3.90
nvidia-cusparse-cu12==12.5.8.93
nvidia-cusparselt-cu12==0.7.1
nvidia-nccl-cu12==2.27.3
nvidia-nvjitlink-cu12==12.8.93
nvidia-nvtx-cu12==12.8.90
open3d-cpu==0.19.0
opencv-python==4.11.0.86
packaging==26.3
pandas==3.0.6
parso==0.8.7
pexpect==4.9.0
pillow==11.3.0
platformdirs==4.12.4
plotly==7.1.0
pluggy==1.6.0
prompt-toolkit==3.0.53
psutil==7.2.2
ptyprocess==0.7.0
pure-eval==0.2.4
pydantic==2.14.0
pydantic-core==2.50.0
pygments==2.21.0
pyparsing==3.3.3
pyquaternion==0.9.9
pytest==8.4.2
python-dateutil==2.9.0.post0
pyyaml==6.0.3
referencing==0.37.0
requests==2.34.2
retrying==1.4.2
rpds-py==2026.9.1
safetensors==0.6.2
scikit-learn==1.9.1
scipy==1.17.1
setuptools==84.0.0
six==1.17.0
stack-data==0.6.3
sympy==1.14.0
threadpoolctl==3.7.0
torch==2.8.0
torchvision==0.23.0
tqdm==4.70.1
traitlets==5.16.1
triton==3.4.0
typing-extensions==4.16.0
typing-inspection==0.4.4
urllib3==2.8.0
vggt @ git+https://github.com/facebookresearch/vggt.git@a288dd0f14786c93483e45524328726ab7b1b4ce
wcwidth==0.9.2
werkzeug==3.1.9
widgetsnbextension==4.0.16
zipp==4.1.1
